* {
    margin: auto 0;
    padding: 0;
}

@font-face {
    font-family: gilroy-bold;
    src: url(./media/fonts/Gilroy-Bold.woff2);
}

@font-face {
    font-family: gilroy-regular;
    src: url(./media/fonts/Gilroy-Regular.woff2);
}

@font-face {
    font-family: sfPro;
    src: url(./media/fonts/SF-Pro-Text-Bold.woff);
}

h1 {
    /* font-family: gilroy-bold; */
    font-family: gilroy-regular;
    /* font-family: sfPro; */
}