* {
    margin: auto 0;
    padding: 0;
}

@font-face {
    font-family: gilroy-bold;
    src: url(./media/fonts/Gilroy-Bold.woff2);
}

@font-face {
    font-family: gilroy-regular;
    src: url(./media/fonts/Gilroy-Regular.woff2);
}

@font-face {
    font-family: gilroy-light;
    src: url(./media/fonts/Gilroy-Light.ttf);
}

@font-face {
    font-family: sf-pro;
    src: url(./media/fonts/SF-Pro-Text-Bold.woff);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1B1B1B;
}

header {
    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; */
    background-color: #1B1B1B;
    width: 100%;
    display: flex;
    justify-content: center;
    /* display: flex; */
}

header>div {
    font-family: gilroy-regular;
    display: flex;
    justify-content: space-between;
    height: 90px;
    max-width: 1440px;
    width: 100%;
    color: #E3E3E3;
    font-size: 18px;
}

.logoNav {
    height: 40px;
    width: auto;
    padding: 15px 40px;
    transition: .5s;
}

.navLinks {
    display: flex;
    padding: 0 40px;
    gap: 30px;
    /* justify-content: space-around; */
}

.home,
.services,
.myWork,
.about {
    transition: .5s;
}

.home:hover,
.services:hover,
.myWork:hover,
.about:hover,
.logoNav:hover {
    cursor: pointer;
    /* border-bottom: 1px solid #E3E3E3; */
    transform: translateY(-15%);
    opacity: .8;
}

.home-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: gilroy-bold;
    height: calc(100vh - 90px);
    /* fills entire viewport */
}

.home-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoMain {
    padding: 60px 0;
    width: 75%;
    height: auto;
    max-width: 1200px;
}

.slogan {
    font-family: gilroy-light;
    font-size: 2em;
    color: #E3E3E3;
}

.quote {
    font-family: gilroy-light;
    border: 1px solid #fff;
    font-size: 18px;
    line-height: 1.31em;
    color: #000;
    padding: 15px 40px;
    text-align: center;
    border-radius: 30px;
    opacity: 1;
    margin: 30px 10px;
    background-color: #fff;
    font-weight: 400;
    transition: .5s;
}

.quote:hover {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.arrowsDown {
    padding-top: 30px;
    padding-bottom: 60px;
    height: 50px;
    width: auto;
}

.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.services-header {
    color: #3e3e3e;
    /* color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 1200px;
    padding: 50px 0;
    gap: 40px;
    font-family: gilroy-regular;
}

h1 {
    /* font-family: Helvetica Arial, sans-serif; */
    font-family: gilroy-regular;
    letter-spacing: 3px;
    font-size: 3em;
}

p {
    font-family: gilroy-light;
}

.service-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding-bottom: 50px;
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 300px;
    /* height: 350px; */
    background-color: #f3f3f3;
    box-shadow: 0px 14px 25px 0px rgba(0, 0, 0, 0.1331149193548387);
    padding: 30px 55px;
    border-radius: 10px;
    /* transition: .5s; */
}

/* .service-item:hover {
    transform: translateY(-5%);
} */

.service-pic {
    height: 80px;
    width: auto;
    background-color: black;
}

.service-title {
    font-family: gilroy-regular;
    font-size: 2em;
}

.service-text {
    /* font-family: gilroy-light; */
    font-size: 1.2em;
}

.home-section::before,
.myWork-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.2;
    /* Adjust the opacity */
    z-index: -1;
}

.home-section::before {
    background-image: url(./media/backgrounds/mixing-table.jpg);
}

.myWork-section::before {
    background-image: url(./media/backgrounds/microphone.jpg);
}

.myWork-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* height: 300px; */
    width: 100%;
    color: #f3f3f3;
}

.myWork-title {
    font-family: gilroy-regular;
    padding-top: 50px;
    padding-bottom: 30px;
}

.elfsight-app-12a65d0f-2437-4e46-befc-85e6356a60a3 {
    width: 65%;
    max-width: 1000px;
    font-family: gilroy-regular;
}