* {
    margin: auto 0;
    padding: 0;
}

@font-face {
    font-family: gilroy-bold;
    src: url(./media/fonts/Gilroy-Bold.woff2);
}

@font-face {
    font-family: gilroy-regular;
    src: url(./media/fonts/Gilroy-Regular.woff2);
}

@font-face {
    font-family: gilroy-light;
    src: url(./media/fonts/Gilroy-Light.ttf);
}

@font-face {
    font-family: sf-pro;
    src: url(./media/fonts/SF-Pro-Text-Bold.woff);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1B1B1B;
}

header {
    background-color: #1B1B1B;
    opacity: .9;
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: top 0.3s;
    height: 80px;
    z-index: 1;
}

header.scrolled {
    position: fixed;
    top: 80px;
    background-color: #1B1B1B;
    /* Background color for the scrolled state */
    transition: top .3s ease-in-out, background-color 0.3s ease-in-out;
    z-index: 999;
    transform: translateY(-80px);
}

header>div {
    font-family: gilroy-regular;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 1440px;
    width: 100%;
    color: #E3E3E3;
    font-size: 18px;

}

.logoNav {
    height: 40px;
    width: auto;
    padding: 0 40px;
    transition: .5s;
}

.navLinks {
    display: flex;
    align-items: center;
    /* padding: 0 40px; */
    gap: 40px;
    /* justify-content: space-around; */
}

.home,
.services,
.myWork,
.about,
.contact {
    /* color: #9f96a8; */
    font-size: 18px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #E3E3E3;
    transition: .5s;
    /* opacity: .7; */
    /* font-size: 18px; */
}

.contact {
    padding-right: 40px;
}

.list-item {
    width: 1px;
    height: 22px;
    background-color: #E3E3E3;
    /* margin-left: 15px; */
    /* margin-right: 15px; */
}

/* .home,
.services,
.myWork,
.about {
    transition: .5s;
} */

.home:hover,
.services:hover,
.myWork:hover,
.about:hover,
.logoNav:hover,
.contact:hover {
    cursor: pointer;
    color: white;
    /* border-bottom: 1px solid #E3E3E3; */
    transform: translateY(-5%);
    opacity: 1;
}

.home-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: gilroy-bold;
    /* height: calc(100vh - 80px); */
    /* min-height: calc(100vh - 80px); */
    min-height: 100vh;
    /* fills entire viewport */
}

.home-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 20px; */
}

.logoMain {
    padding: 60px 0;
    width: 75%;
    height: auto;
    max-width: 1400px;
}

.logoMainVetical {
    display: none;
}

.slogan,
.slogan-vertical {
    font-family: gilroy-light;
    font-size: 2em;
    color: #E3E3E3;
}

.slogan-vertical {
    font-size: 1.8em;
    display: none;
    text-align: center;
}

.quote {
    text-decoration: none;
    font-family: gilroy-light;
    border: 1px solid #fff;
    font-size: 18px;
    line-height: 1.31em;
    color: #000;
    padding: 15px 40px;
    text-align: center;
    border-radius: 30px;
    opacity: 1;
    margin: 30px 10px;
    background-color: #fff;
    font-weight: 400;
    transition: .5s;
}

.quote:hover {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.buttonContainer {
    padding-right: 40px;
}

/* .navQuote {
    padding: 15px 30px;
    margin: 0;
    font-size: 30px;
} */

.arrowsDown {
    padding-top: 30px;
    padding-bottom: 60px;
    height: 50px;
    width: auto;
}

.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.services-header {
    color: #3e3e3e;
    /* color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 1200px;
    padding: 50px 0;
    gap: 40px;
    font-family: gilroy-regular;
}

h1 {
    /* font-family: Helvetica Arial, sans-serif; */
    font-family: gilroy-regular;
    letter-spacing: 3px;
    font-size: 3em;
}

p {
    font-family: gilroy-light;
}

.services-about {
    font-size: 17px;
    text-align: center;
}

.service-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 70px;
    max-width: 1200px;
    /* margin: 0 auto; */
    padding: 0 30px;
    padding-bottom: 90px;
    align-content: stretch;
    /* Make grid items fill the entire height */
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #f3f3f3;
    box-shadow: 0px 14px 25px 0px rgba(0, 0, 0, 0.1331149193548387);
    padding: 30px 55px;
    border-radius: 10px;
    text-align: center;
    /* height: 200px; */
    gap: 15px;
}

.service-pic {
    height: 60px;
    width: auto;
    filter: invert(39%) sepia(91%) saturate(393%) hue-rotate(136deg) brightness(93%) contrast(91%);
    /* background-color: black; */
}

.service-title {
    font-family: gilroy-regular;
    font-size: 2.2em;
}

.service-text {
    font-size: 1.2em;
}

.home-section::before,
.myWork-section::before,
.about-section::before {
    content: "";
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.2;
    /* Adjust the opacity */
    z-index: -1;
}

.home-section::before {
    background-image: url(./media/backgrounds/mixing-table.jpg);
}

.myWork-section::before {
    background-image: url(./media/backgrounds/microphone.jpg);
}

.about-section::before {
    background-image: url(./media/backgrounds/Background\ CD\ 3000.jpg);
    filter: blur(12px);
    opacity: 0.63;
    background-size: 130% auto;
    z-index: -2;
}

.myWork-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* height: 300px; */
    width: 100%;
    color: #f3f3f3;
    padding-bottom: 50px;
}

.myWork-title {
    font-family: gilroy-regular;
    padding-top: 50px;
    padding-bottom: 30px;
}

.music-player {
    /* width: 90%; */
    width: 93%;
    max-width: 1200px;
    font-family: gilroy-regular;
    /* padding: 0 30px; */
    /* padding-bottom: 20px; */
}

.about-section {
    position: relative;
    display: flex;
    justify-content: center;
}

.about-container2 {
    display: flex;
    justify-content: space-evenly;
    /* margin-top: 80px; */
    align-items: flex-end;
    max-width: 1400px;
}

.about-picture {
    /* padding-top: 80px; */
    width: auto;
    height: 800px;
    border-radius: 10px;
    padding-top: 80px;
    margin: 0 30px;
}


.about-content {
    display: flex;
    align-items: stretch;
    /* This will make both children equal in height */
    max-width: 1200px;
    margin: 0 auto;
}


.about-bio {
    align-self: center;
    /* max-height: 800px; */
    /* min-width: 350px; */
    width: 30%;
    background-color: rgb(243, 243, 243, .8);
    text-align: center;
    /* box-shadow: 0px 14px 25px 0px rgba(0, 0, 0, 0.1331149193548387); */
    -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    padding: 30px 55px;
    margin: 0 30px;
    border-radius: 10px;
}

.about-me {
    font-family: gilroy-regular;
    padding-top: 30px;
}

.about-bio>p {
    padding: 30px 0;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        /* transform: translateY(20px); */
    }

    100% {
        opacity: 1;
        /* transform: translateY(0); */
    }
}

@keyframes arrowBounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(30px);
    }

    60% {
        transform: translateY(15px);
    }

}

.logoMain,
.logoMainVetical,
.slogan,
.quote,
.slogan-vertical {
    opacity: 0;
    animation: fadeInUp 2s ease-out forwards;
}

.arrowsDown {
    animation-name: arrowBounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.contact-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.contact-header {
    padding: 50px 0 20px 0;
    text-align: center;
    font-size: 32px;
    font-family: gilroy-regular;
}

form,
input,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    outline: none;
    box-sizing: border-box;
}

form {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap; */
    width: 100%;
    max-width: 1000px;
    padding: 0 30px;
}


.input {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgba(150, 150, 150, .3); */
    margin: 20px 0;
}

input,
textarea {
    border: 1px solid rgba(150, 150, 150, .3);
    border-radius: 3px;
}

.input input,
.input textarea {
    padding: 20px 20px;
    font-size: 14px;
    font-family: gilroy-light;
}

::placeholder {
    font-family: gilroy-light;
    color: rgb(161, 161, 161);
}

#message {
    resize: vertical;
    overflow: auto;
    min-height: 100px;
}

input:not(:focus):not(:placeholder-shown):valid {
    border-color: green;
    border: 1px solid green;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border: 1px solid red;
}



button[type="submit"] {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: gilroy-regular;
    font-size: 26px;
    border-color: #000000;
    /* background-color: rgba(239, 122, 71, 1); */
    background-color: #24b4bd;
    color: #ffffff;
    /* color: black; */
    letter-spacing: 0px;
    border-width: 0px;
    padding: 21px 42px;
    width: 100%;
    max-width: 1400px;
    border-radius: 9px;
    margin-bottom: 20px;
}

button[type="submit"]:hover {
    background-color: #13656b;
    cursor: pointer;
}

footer {
    height: 120px;
    width: 100%;
    background-color: #1B1B1B;
}

.scrollContainer {
    width: 53px;
    height: 53px;
    text-align: center;
    background: #2f323a;
    opacity: 0;
    border-radius: 50%;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    pointer-events: none;
    z-index: 999;
    line-height: 48px;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    transition: opacity .3s ease;
    font-size: 24px;
    color: #E3E3E3;
}

.scrollContainer:hover {
    opacity: 1;
}

.visibleElement {
    pointer-events: all;
    opacity: .7;
    transition: opacity 0.5s ease-in-out;
}

.scrolled {}





@media screen and (max-height: 750px) {

    /* Adjust the maximum height value as needed */
    .home-section {
        height: auto;
        /* Let the content determine the height */
    }

    .home-section2 {
        /* padding-bottom: 30px; */
        /* Add some spacing at the bottom */
    }
}

/* @media (max-width:850px) and (max-height: 910px) {
    .home-section {
        height: auto;
    }
} */

@media (max-width: 850px) {
    .logoMain {
        display: none;
    }

    .logoMainVetical {
        display: block;
        width: 60%;
        height: auto;
        padding: 60px 0;
    }
}

/* tablet */
@media (max-width: 768px) {

    .services-header {
        width: 100%;
        padding: 30px 0;
        gap: 20px;
    }

    h1 {
        font-size: 27px;
        /* font-family: gilroy-bold; */
    }

    .services-about {
        padding: 0 30px;
    }

    .service-container {
        gap: 50px;
        padding-bottom: 40px;
    }

    .service-item {
        /* gap: 10px; */
    }

    .service-title {
        font-size: 27px;
    }

    .service-text {
        font-size: 18px;
        padding-bottom: 5px;
    }

    .myWork-title {
        padding-top: 30px;
    }

    .myWork-section {
        padding-bottom: 30px;
    }

    .music-player {
        width: 93%;
        padding-bottom: 0;
        /* display: none; */
    }

    /* form {
        width: 100%;
        padding: 0 30px;
    } */

    .contact-header {
        font-size: 27px;
    }

    .scrollContainer {
        bottom: 10px;
        right: 10px;
        width: 55px;
        height: 55px;
        /* transition: opacity 0.5s ease-in-out; */
        /* line-height: 53px; */
    }
}


/* vertical service icons */
@media (max-width: 650px) {

    header {
        display: none;
    }

    .service-item {
        padding: 30px 20px;
        gap: 0;
    }

    .service-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 35px;
    }
}

@media (max-width: 540px) {
    .slogan {
        display: none;
    }

    .slogan-vertical {
        display: block;
        padding-bottom: 10px;
    }
}