* {
    margin: auto 0;
    padding: 0;
}

@font-face {
    font-family: gilroy-bold;
    src: url(./media/fonts/Gilroy-Bold.woff2);
}

@font-face {
    font-family: gilroy-regular;
    src: url(./media/fonts/Gilroy-Regular.woff2);
}

@font-face {
    font-family: gilroy-light;
    src: url(./media/fonts/Gilroy-Light.ttf);
}

@font-face {
    font-family: sf-pro;
    src: url(./media/fonts/SF-Pro-Text-Bold.woff);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1B1B1B;
}

header {
    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 1; */
    background-color: #1B1B1B;
    width: 100%;
    display: flex;
    justify-content: center;
    /* display: flex; */
}

header>div {
    font-family: gilroy-regular;
    display: flex;
    justify-content: space-between;
    height: 90px;
    max-width: 1440px;
    width: 100%;
    color: #E3E3E3;
    font-size: 18px;
}

.logoNav {
    height: 40px;
    width: auto;
    padding: 15px 40px;
    transition: .5s;
}

.navLinks {
    display: flex;
    padding: 0 40px;
    gap: 30px;
    /* justify-content: space-around; */
}

.home,
.services,
.myWork,
.about {
    transition: .5s;
}

.home:hover,
.services:hover,
.myWork:hover,
.about:hover,
.logoNav:hover {
    cursor: pointer;
    /* border-bottom: 1px solid #E3E3E3; */
    transform: translateY(-15%);
    opacity: .8;
}

.home-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: gilroy-bold;
    height: calc(100vh - 90px);
    /* fills entire viewport */
}

.home-section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoMain {
    padding: 60px 0;
    width: 75%;
    height: auto;
    max-width: 1400px;
}

.slogan {
    font-family: gilroy-light;
    font-size: 2em;
    color: #E3E3E3;
}

.quote {
    font-family: gilroy-light;
    border: 1px solid #fff;
    font-size: 18px;
    line-height: 1.31em;
    color: #000;
    padding: 15px 40px;
    text-align: center;
    border-radius: 30px;
    opacity: 1;
    margin: 30px 10px;
    background-color: #fff;
    font-weight: 400;
    transition: .5s;
}

.quote:hover {
    background-color: transparent;
    color: #fff;
    cursor: pointer;
}

.arrowsDown {
    padding-top: 30px;
    padding-bottom: 60px;
    height: 50px;
    width: auto;
}

.services-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.services-header {
    color: #3e3e3e;
    /* color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 1400px;
    padding: 50px 0;
    gap: 40px;
    font-family: gilroy-regular;
}

h1 {
    /* font-family: Helvetica Arial, sans-serif; */
    font-family: gilroy-regular;
    letter-spacing: 3px;
    font-size: 3em;
}

p {
    font-family: gilroy-light;
}

.service-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    width: 100%;
    max-width: 1400px;
    padding-bottom: 50px;
}

.service-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    width: 300px;
    /* height: 350px; */
    background-color: #f3f3f3;
    box-shadow: 0px 14px 25px 0px rgba(0, 0, 0, 0.1331149193548387);
    padding: 30px 55px;
    border-radius: 10px;
    /* transition: .5s; */
}

/* .service-item:hover {
    transform: translateY(-5%);
} */

.service-pic {
    height: 80px;
    width: auto;
    background-color: black;
}

.service-title {
    font-family: gilroy-regular;
    font-size: 2em;
}

.service-text {
    /* font-family: gilroy-light; */
    font-size: 1.2em;
}

.home-section::before,
.myWork-section::before,
.about-section::before {
    content: "";
    position: absolute;
    /* top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.2;
    /* Adjust the opacity */
    z-index: -1;
}

.home-section::before {
    background-image: url(./media/backgrounds/mixing-table.jpg);
}

.myWork-section::before {
    background-image: url(./media/backgrounds/microphone.jpg);
}

.about-section::before {
    background-image: url(./media/backgrounds/Background\ CD\ 3000.jpg);
    filter: blur(12px);
    opacity: 0.63;
    background-size: 130% auto;
    z-index: -2;
}

.myWork-section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* height: 300px; */
    width: 100%;
    color: #f3f3f3;
    padding-bottom: 50px;
}

.myWork-title {
    font-family: gilroy-regular;
    padding-top: 50px;
    padding-bottom: 30px;
}

.elfsight-app-12a65d0f-2437-4e46-befc-85e6356a60a3 {
    width: 65%;
    max-width: 1000px;
    font-family: gilroy-regular;
    padding-bottom: 20px;
}

.about-section {
    position: relative;
    display: flex;
    justify-content: flex-start;
    /* color: #f3f3f3; */
    /* height: 500px;
    width: 500px; */
}

.about-bio {
    width: 30%;
    margin-left: 5rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* fix this vvvv */
    margin-left: 17%;
    padding: 0 3%;
    background-color: rgb(243, 243, 243, .8);
    text-align: center;
    box-shadow: 0px 14px 25px 0px rgba(0, 0, 0, 0.1331149193548387);
    padding: 30px 55px;
    border-radius: 10px;
}

.about-me {
    font-family: gilroy-regular;
    padding-top: 50px;
    padding-bottom: 30px;
}

.about-bio>p {
    padding-bottom: 50px;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        /* transform: translateY(20px); */
    }

    100% {
        opacity: 1;
        /* transform: translateY(0); */
    }
}

@keyframes arrowBounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(30px);
    }

    60% {
        transform: translateY(15px);
    }

}

.logoMain,
.slogan,
.quote {
    opacity: 0;
    animation: fadeInUp 2s ease-out forwards;
}

.arrowsDown {
    animation-name: arrowBounce;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

.contact-section {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap; */
    width: 70%;
    max-width: 1400px;
}

.contact-header {
    padding: 50px 0 20px 0;
    text-align: center;
}

form,
input,
textarea {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    outline: none;
    box-sizing: border-box;
}


.input {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgba(150, 150, 150, .3); */
    margin: 20px 0;
}

input,
textarea {
    border: 1px solid rgba(150, 150, 150, .3);
    border-radius: 3px;
}

.input input,
.input textarea {
    padding: 20px 20px;
    font-size: 14px;
    font-family: gilroy-light;
}

::placeholder {
    font-family: gilroy-light;
    color: rgb(161, 161, 161);
}

#message {
    resize: vertical;
    overflow: auto;
    min-height: 100px;
}

input:not(:focus):not(:placeholder-shown):valid {
    border-color: green;
    border: 1px solid green;
}

input:not(:focus):not(:placeholder-shown):invalid {
    border: 1px solid red;
}



button[type="submit"] {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: gilroy-regular;
    font-size: 26px;
    border-color: #000000;
    background-color: rgba(239, 122, 71, 1);
    color: #ffffff;
    letter-spacing: 0px;
    border-width: 0px;
    padding: 21px 42px;
    width: 100%;
    max-width: 1400px;
    border-radius: 9px;
    margin-bottom: 20px;
}

button[type="submit"]:hover {
    background-color: pink;
    cursor: pointer;
    /* Change the background color on hover */
}



@media screen and (max-height: 660px) {

    /* Adjust the maximum height value as needed */
    .home-section {
        height: auto;
        /* Let the content determine the height */
    }

    .home-section2 {
        padding-bottom: 30px;
        /* Add some spacing at the bottom */
    }
}