* {
    margin: auto 0;
    padding: 0;
}

@font-face {
    font-family: gilroy-bold;
    src: url(./media/fonts/Gilroy-Bold.woff2);
}

@font-face {
    font-family: gilroy-regular;
    src: url(./media/fonts/Gilroy-Regular.woff2);
}

@font-face {
    font-family: sf-pro;
    src: url(./media/fonts/SF-Pro-Text-Bold.woff);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1B1B1B;
}

header {
    font-family: gilroy-regular;
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #1B1B1B;
    color: #E3E3E3;
    font-size: 18px;
}

.logoNav {
    height: 40px;
    width: auto;
    padding: 15px 40px;
}

.navLinks {
    display: flex;
    padding: 0 40px;
    gap: 30px;
    /* justify-content: space-around; */
}

.home:before {
    background-image: url(./media/backgrounds/mixing-table.jpg);
    content: "";
    background-position: 50%;
    background-size: cover;
    height: 100%;
    width: 100%;
    max-width: 100%;
    left: 0;
    position: absolute;
    top: 0;
    /* filter: blur(16px); */
    opacity: 0.2;
    z-index: -1;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: gilroy-regular;
}

.logoMain {
    padding: 60px 0;
    width: 80%;
    height: auto;
}

h1 {

    font-size: 2em;
    color: #E3E3E3;
}

.quote {
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 1.31em;
    color: #000;
    padding: 15px 40px;
    text-align: center;
    border-radius: 30px;
    opacity: 1;
    margin: 30px 10px;
    background-color: #fff;
    font-weight: 400;
}

.arrowsDown {
    padding: 30px 0;
    height: 50px;
    width: auto;
}